<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring security demo</title>
</head>
<body>
<h1>Spring Security Demo</h1>
<div>
    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="" th:href="@{/admin/}">admin space</a>
</div>
<div sec:authorize="hasRole('ROLE_MAN')">
    <a href="" th:href="@{/manager/}">manager space</a>
</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or #authorization.expression('hasRole(''ROLE_MAN'')')}">
    <a href="" th:href="@{/common/}">common space</a>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>